*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#imagem-topo{
    background-color: #87CEEB;
    text-align: center;
}
h1, h2{
    font-family: Arial;
    text-align: center;
    color: #4682B4;
}
h3{
    font-family: Arial;
}
P{
    padding: 15px;
    text-align: justify;
    font-family: Arial;
    font-size: 18px;
}
footer{
    background-color: #87CEEB;
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
}
.contato{
    font-size: 1em;
}
#cliente{
    text-align: center;
    color: #B0C4DE;
    font-family: arial;
}