*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background-color: #000;
    color: #fff;
    font-family: Arial;
    width: 100%;
    position: fixed;
}
h3{
    font-size: 1.8rem;
    font-family: Arial;
    margin: 0;
    padding: 5px;
}
h4{
    font-size: 1rem;
    font-family: Arial;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}
body{
    background-color: #FFF
}
.container{
    display: block;
    background-color: #fff;
    width:  95%;
    box-shadow: 2px 2px 5px #000;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    min-height: 0px;
    min-width: 0px;
    margin-top: 50px;
}
footer{
    font-family: Arial;
    color: #fff;
    background-color: rgba(0,0,0, 0.25);;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
p{
    font-family: arial;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}
h1{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 2.0rem;
}
h2{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
}
.texto-footer{
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
.compre{
    background-color: rgba(255,255,0, 1.0);
    width: 150px;
    height: 100px;
    position: fixed;
    right: 0;
    text-align: center;
    margin-top: 10%;
    z-index: 1;
}
h5{
    font-family: arial;
    text-align: center;
    padding: 1px;
    font-size: 1.9rem;
}
button{
    font-family: arial;
    text-align: center;
    padding: 5px;
    font-size: 1.9rem;
    background-color: rgba(127,255,0, 1);
    color: #FFF;
    border: solid
}
#grid-container{
    margin-top: 5px;
    background-color: rgba(169,169,169, 0.15);
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
    padding-bottom: 10px;
    box-shadow: 0.2px 0.2px 1px #000;
}
#formulario{
    background-color: rgba(248,248,255);
}
.Formulario-contrato{
    font-family: Arial;
    font-size: 1.8rem;
    padding: 10px;
    text-align: left;
    margin-left: 5%;
    font-weight: bold;

}
input{
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 5px;
}
.dados-formulario{
    width: 20%;
    box-shadow: 1px 1px 5px #000;
}
nav{
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    font-family: arial;
    font-size: 1.6rem;
    margin-right: 2%;
    word-spacing: 20px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
    transition: all 5ms ease-in-out;
}
a:hover{
    color: rgba(255, 255, 0, 1.0);
}
#enviar{
    background-color: rgba(60,179,113);
    border-radius: 20%;
    box-shadow: 0.1px 0.1px 8px;
}
#limpar{
    background-color: rgba(220,20,60);
    border-radius: 20%;
    box-shadow: 0.1px 0.1px 8px;
}
.imagem-grid{
    width: 33rem;
    height: 22rem;
    border-radius: 4%;
}
.texto-grid{
    font-family: arial;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}
.link-grid{
    color: #32CD32;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: #000;
    border-radius: 20px;
    padding: 3px;
}
#professor{
    width: 20rem;
    height: 20rem;
    border-radius: 200%;
    padding: 30px;
}
ul, li{
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}
.imagem-grid{
    transition: 300ms ease-in-out;
}
img:hover{
    transform:  scale(1.1);
    border: solid rgba(255, 255, 255, 1.0);
    box-shadow: 1px 1px 3px #000
}