/* *{
  margin: 0;
  padding: 0;
} */
.main{
  background: #242424;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui;
}
.img-logo{
  width: 15%;
  margin: 7rem;
}
.img-meta{
  width: 15%;
  position: flex;
  flex-direction: column;
  margin-top: 5rem;
}
@media screen {
  
}
.main-forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main-forms h1{
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}
.input-id,
.input-password{
  position: relative;
  margin: 20px 0px;
}
.input-id i, 
.input-password i{
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 1.5em;
  color: #fff;
}
.input-id input,
.input-password input{
  background: none;
  outline: none;
  border: 1px solid #808080;
  border-radius: 10px;
  padding: 10px 10px 10px 69px;
  color: #fff;
  font-family: system-ui;
  font-size: 1.5em;
  transition: all ease .3s;
}
.input-id input:focus,
.input-password input:focus{
  border: 1px solid #00c521;
  box-shadow: 0px 0px 6px #4aff02;
  transition: all ease .3s;
}
.input-remember{
  display: flex;
  align-items: center;
  color: #fff;
}
.input-remember input{
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}
.btn-forms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.btn-forms a{
  background: #242424;
  outline: none;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 6px 30px;
  color: #fff;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  transition: all ease .4s;

}
.btn-forms a:hover{
  background: none;
  border: 1px solid #007DC5;
  color: #007DC5;
  transition: all ease .4s;
}
@media screen and (max-width: 700px) {
  .img-logo,.img-meta{
    width: 50%;
  }
  .img-meta{
    display: none;
  }
}