body {
    background-color: #fff;
    display: block;
  }

  .header {
    display: flex;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: #242424;
    color: white;
    font-family: system-ui;
    width: 100%;
    box-sizing: content-box;
  }

.header__nav__btnMobile {
    display: none;
  }

  .header__nav__menu {
    display: flex;
    flex-direction: row;
  }
  
  .header__nav__menu li {
    margin-right: 18px;
  }
  
.header-menu-anchor {
    position: relative;
    color: white;
    text-decoration: none;
    transition: all ease 0.4s;
    padding: 10px;
}

.header-menu-anchor:hover {
    color: #0077ff;
    text-decoration: none;
    transition: all ease 0.4s;
}

.header-menu-anchor:hover::before {
    width: 100%;
}

.header-menu-anchor::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -2px;
    background-color: #0077ff;
    transform: translateX(-50%);
    transition: all ease 0.4s;
}

/*Main*/
.main {
    padding: 20px 15%;
    font-family: system-ui;
}

.main-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #575757;
    text-align: center;
    padding-top: 3em;
}

.main-filter {
    display: flex;
    margin-bottom: 10px;
}

.main-btn {
    display: flex;
    justify-content: flex-end;
}

.main-btn button {
    outline: none;
    border: 1px solid #575757;
    padding: 10px;
    background: #575757;
    color: #fff;
    margin-right: 3px;
    border-radius: 5px;
    transition: all ease .6s;
}

.main-btn button:hover {
    border: 1px solid #242424;
    background: #242424;
    color: #fff;
    transition: all ease .6s;
}

.main-btn button i:first-child {
    margin-right: 10px;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #575757;
    color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: -5px 5px 15px 0px #575757;
}

.user {
    font-size: 10em;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    color: #242424;
}

.box-input-pincel {
    position: relative;
    margin-bottom: 10px;
}

.formater {
    margin: 20px 5px;
    font-size: 1.3em;
    padding-right: 0rem;
}

.change {
    left: 12.6em !important;
}

.lbl-idioma {
    margin: 10px 0px 5px 0px;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search {
    margin: 20px 10px;
}

.footer {
    width: 100%;
    height: 2rem;
    font-size: 1em;
    text-align: center;
    position: fixed;
    color: #fff;
    background: #242424;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-family: system-ui;
}

@media screen and (max-width: 700px) {
    .header__nav.active .header__nav__menu {
        height: calc(100vh - 60px);
        visibility: visible;
        overflow: hidden;
      }
    
      .header__nav.active #hamburger {
        border-top-color: transparent;
      }
    
      .header__nav.active #hamburger::before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    
      .header__nav.active #hamburger::after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: -7px;
      }
    
      .header__nav__btnMobile {
        display: block;
        border: none;
        background: transparent;
        outline: none;
      }
    
      .header__nav__btnMobile #hamburger {
        color: white;
        display: block;
        border-top: 2px solid;
        width: 25px;
      }
    
      .header__nav__btnMobile #hamburger::after,
      .header__nav__btnMobile #hamburger::before {
        content: "";
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    
      .header__nav__menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        right: 0px;
        background: #575757;
        z-index: 1000;
        -webkit-transition: 0.6s;
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
    
      .header__nav__menu li {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 2px solid rgba(101, 226, 217, 0.071);
        margin-right: 0px;
      }
    .main {
        padding: 20px 2%;
        padding-top: 5em;
    }

    .main-title {
        padding-top: 1em;
    }

    .box-content {
        flex-direction: column;
    }

    .box-data {
        margin: 20px 0;
    }

    .search {
        margin: 10px 0px;
        width: 100%;
    }

    textarea {
        width: 100%;
        margin-left: 0em;
    }

    .footer {
        position: absolute;
        bottom: 0;
    }
}
.form-dados{
    display: flex;
    flex-direction: row; 
    border-radius: 10px;
}
input {
    /* border-radius: 5px; */
    width: 18rem;
    font-size: 2em;
    font-family: system-ui;
    padding-left: 5px;
    outline: none;
    /* border: 10px #8c8c8c; */
    margin-left: 5rem;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
  }
.formater-input {
    margin: 20px 5px;
    font-size: 1.3em;
    padding-right: 0rem;
    transition: all ease .3s;
}
.formater-input:focus{
    border: 1px solid #007DC5;
    box-shadow: 0px 0px 6px #007DC5;
    transition: all ease .3s;
}
